/*############NAVBAR############  */

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
background: linear-gradient(90deg, #F5F5F5, #E0E1E2) !important;
  color: #333333
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
}

/* Logo styling */
.logo {
  height: 120px;
  width: auto;
  margin-right: 1rem;

  /* let it grow inside the container*/ 
  transform: scale(1.1);  /* Makes the logo 20% bigger */
  transform-origin: left center;  /* Scales from left center point */
  object-fit: contain;  /* Ensures the image maintains aspect ratio */
}
  
  
}

/* Left section styling */
.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 2.5em;
  font-weight: 700;
  margin: 0;
  color: #2D2D2D;
}

.subtitle {
  font-size: 1.2em;
  margin: 0;
  color: #4A4A4A;
}

/* Social buttons container styling */
.social-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Icon header styling */
.icon-header {
  margin: 0;
  font-size: 1.1em;
  font-weight: 500;
  color: #4A4A4A;
  line-height: 1.5em;
}

/* Social icons styling */
.social-buttons .icon {
  font-size: 2.5em;
  color: #4A4A4A;
  transition: all 0.2s ease;
  margin-left: 0.5rem;
}

.social-buttons .github:hover {
  color: #000;
}

.social-buttons .linkedin:hover {
  color: #0077b5;
}

/* Responsive design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .social-buttons {
    justify-content: flex-start;
    width: 100%;
    margin-top: 1rem;
  }
  .logo {
    height: 100px;
    margin-bottom: 10px;
  }
  .title {
    font-size: 2em;
  }
  .subtitle {
    font-size: 1em;
  }
}
/********************* UPLOAD FORM **********************/
/* Custom styling for Data Upload section */

.controls{
  background: linear-gradient(90deg, #989898 #767676) !important;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  
  
} 



